
:root {
    --scolor: #242f3d;
 
    --hhcolor: #30a3e6;
  }
.homebtngroup {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
  }
.btntext {
    position: relative;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 500;
    border-radius: 8px;
    color: #ffffff;
    padding: 20px 45px;
    text-transform: uppercase;
    overflow: hidden;
  }
  .btntext {
    position: relative;
    z-index: 5;
  }
  
  .btntext {
    background: var(--hhcolor);
    transition: 0.7s ease;
    color: #fff;
  }
  .btntext:hover {
    background-color: var(--scolor) !important;
  }

  .colorize {
    margin: auto;
    overflow: hidden;
    position: relative;
    padding-top: 70px;
    padding: 50px 15px 0;
    display: block;
  }
  .colorize::before {
    content: "";
    position: absolute;
    bottom: -200px;
    left: -500px;
    width: 1000px;
    height: 1000px;
    border-radius: 80%;
    background: radial-gradient(
      ellipse at center,
      hsla(217, 76%, 49%, 0.5),
      transparent 70%
    );
  }
  .colorize::after {
    content: "";
    position: absolute;
    z-index: 100 !important ;
    top: 100px;
    right: -400px;
    width: 800px;
    height: 800px;
    border-radius: 50%;
    background: radial-gradient(
      ellipse at center,
      hsla(175, 82%, 46%, 0.3),
      transparent 70%
    );

  }