
:root {
    --scolor: #242f3d;
 
    --hhcolor: #30a3e6;
  }
  .rr{
    padding: 30px 100px;
  }
  .dddd{
    margin-bottom: 34px;
    width: 100%;
  display: flex;
    justify-content: center;
    align-items: center;
  }
  .ddddd{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 34px;
    width: 80px;
   
  }
.homebtngroup {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
  }
.btntext {
    position: relative;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 500;
    border-radius: 8px;
    padding: 16px 45px;
    text-transform: uppercase;
    overflow: hidden;
  }
  .btntext {
    position: relative;
    z-index: 5;
  }
  
  .btntext {
    background: var(--hhcolor);
    transition: 0.7s ease;
    color: #30a3e6;
  }
  .btntext:hover {
    background-color: var(--scolor) !important;
    color: #12d0c5;
  }
  .btntext3 {
    position: relative;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 500;
    border-radius: 8px;
    padding: 16px 45px;
    text-transform: uppercase;
    overflow: hidden;
  }
  .btntext3 {
    position: relative;
    z-index: 5;
  }
  
  .btntext3 {
    background: var(--scolor);
    transition: 0.7s ease;
    color: #30a3e6;
  }
  .btntext3:hover {
    background-color: #1a435a !important;
    color: #12d0c5;
  }
  .colorize {
    margin: auto;
    overflow: hidden;
    position: relative;
    padding-top: 70px;
    padding: 50px 15px 0;
    display: block;
  }
  .colorize::before {
    content: "";
    position: absolute;
    bottom: -200px;
    left: -500px;
    width: 1000px;
    height: 1000px;
    border-radius: 80%;
    background: radial-gradient(
      ellipse at center,
      hsla(217, 76%, 49%, 0.5),
      transparent 70%
    );
  }
  .colorize::after {
    content: "";
    position: absolute;
    z-index: 100 !important ;
    top: 100px;
    right: -400px;
    width: 800px;
    height: 800px;
    border-radius: 50%;
    background: radial-gradient(
      ellipse at center,
      hsla(175, 82%, 46%, 0.3),
      transparent 70%
    );
   
  } .colse_admin{
    color: #12d0c5;
    background-color: #242f3d;
    padding: 10px 20px;
    border-radius: 10px;
    transition: all 0.3s;
  }
  .colse_admin:hover{
    background-color: #35455b;
    padding: 10px 20px;
    border-radius: 10px;
    
  }

  
.containeroo {    

	align-items: center;
	display: flex;
	justify-content: center;
}

.shapeW {  
  left: 43% !important;
  bottom: 60%;
	background: linear-gradient(45deg, #00ffb6  0%, #000fa3 100%);
	animation: morph 8s ease-in-out infinite;
	border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
	height: 220px;
	width: 220px;
	box-shadow: 0 0 20px #000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.admitt{
  font-size: 28px;
  font-weight: 600;
letter-spacing: 2px;
  font-family:  sans-serif;
  text-transform: uppercase;
}
@keyframes morph {
	0% {
		border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
		background-size: 100% 100%;
	}

	50% {
		border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
		background-size: 300% 150%;
	}

	100% {
		border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
		background-size: 100% 100%;
	}
}


@media (min-width: 111px ) and (max-width: 370px) {
  .ddddd{
    width: 50px;
  }
  .shapeW{
    height: 180px !important;
	width: 180px;
  }
  }
  /* outmedit */
  
  @media ( min-width: 370px) and (max-width: 570px) {

   
    }
  
  
  /* Styles for devices with a width between 321px and 767px */
  @media (min-width: 570px) and (max-width: 770px) {
    

    }
  
  /* Styles for devices with a width between 768px and 1023px */
  @media (min-width: 770px) and (max-width: 992px) {
  }
  @media (min-width: 992px) and (max-width: 1095px)  {
   
   
  }
  /* Styles for devices with a width of 1024px or larger */
  @media (min-width: 1095px) and (max-width: 1600px)  {
  
  }
  