li{
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.title{
  display: flex;
  justify-content: center;
  color: #3a6cfc ;
  font-size: 2.2em;
  font-weight: 800 ;
  margin-bottom: 30px;
}

.content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap; /*ينزل الكروت بالرسبومسف*/
}
.cards{
  background-color: #fd0606;
 
}

/**/
.card:hover{
  transform: scale(0.1);

}
.icon{
  color: #3a6cfc;
  font-size: 8em;
  text-align: center;

}
.info{
  text-align: center;
}
.info h3{
  color: #3a6cfc;
  font-size: 1.2em;
  font-weight: 700;
  margin: 10px;
}
  

  .projcard{
      
      background-color: #424141;
      border: 1px solid #ffff;
      min-height: 14em;
      width: 20em;
      overflow: hidden; /**/
      border-radius: 10px;
      margin: 20px;
      transition: 0.7s ease;
  }
  .projcard:hover p{
      transition: 0.7s ease;
  }
  .projcard:hover{
      color: black;

  }
  .projcard:hover{
      transform: scale(1.1);
  }
  .projcard:hover .projimg{
  opacity: 0.9;}
  .projimg img{
      width: 100%;
      transition: 0.7s ease;

  }
  .projimg img:hover{
      opacity: 4;
      transform: scale(1.1);
  }
  .projinfo{
      padding: 1em;
  }
  .projinfo:hover{
      color: black;
  }
  .iopp{
      font-size: 0.8em;
      color: #000016;
  }
  .projtitle{
      display: flex;
      justify-content: space-between;
      text-transform: uppercase;
      font-weight: 800;
      align-items: center;
      margin-top: 10px;
  }
  .mpre{
      text-decoration: none;
      color: #3a6cfc;
  }
  .mpre:hover{
      color: #ffff;
  }
  
  
  
    /* Customize the color of the radio dot when selected */
    .projcard:hover .radio-button{
      font-size: 13px }
    .radio-button {
      border: none;
      background-color: transparent;
      cursor: pointer;
      padding: 5px 10px;
      margin-right: 10px;
      font-size: 16px;
      border:solid 0.1px rgb(171, 87, 87);
      transition: all 0.7s ease;
    }
    
    .radio-button.active {
      transition: all 0,7s ease;
      background-color: rgb(136, 136, 136);
      color: #000;
    }
    
    @media (min-width: 321px) and (max-width: 767px) {
      .projcard:hover{
        transform: none;
        
    }
    }
    /* Customize the color of the radio dot when the radio is checked */
   /* CSS */
   .fexbtn{
    display: grid;
    place-content: center;
   }
.button-29 {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 40px;
  justify-content: center;
  line-height: 1;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  font-size: 16px;
}

.button-29:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button-29:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-29:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}
  





