.fleoxx {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}.contfrom{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.vvv{
    color: black;
}

@media (min-width: 111px) and (max-width: 370px) {
    .form{
        font-size: 16px;
        width: 100%;
    }
    .flexinputs{
        display: block !important;
    }
    .contfrom{
  margin-bottom: 22px;
    }
    .proo {
        padding: 61px 0px;
    }


}

@media (min-width: 370px) and (max-width: 570px) {
    .form{
        font-size: 16px;
        width: 100%;
    }
    .flexinputs{
        display: block !important;
    }
    .contfrom{
  margin-bottom: 22px;
    }
    .proo {
        padding: 61px 0px;
    }

}


