:root {
  --fcolor: #17212b;
  --scolor: #242f3d;
  --thcolor: #12d0c5;
  --blcolor: #30a3e6;
}
.loading {
    width: 100vw;
    height: 100vh;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:var(--scolor) ;
  } 