@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");
:root {
  --fcolor: #17212b;
  --scolor: #242f3d;
  --thcolor: #12d0c5;
  --blcolor: #30a3e6;
}

* {
  font-family: "Inter", sans-serif;

  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  text-decoration: none;
}
/* navbar */
.navbar{
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--scolor);
}

.logo{
  color: var(--thcolor);
  font-size: 28px;
  font-weight: 600;
  margin-left: 120px;
}
.burger{
  display: none;
}
nav{
  margin-right: 200px;
}
nav a{
  font-size: 20px;
margin-right: 100px;
transition: all .5s ease-in-out;
padding: 5px 10px;
border-radius: 30px;
}
nav a:hover{
  color: var(--blcolor);
}
@media screen and (max-width: 570px) {
  .burger {
    display: flex;
    margin-right: 10px;
  }

  .logo {
    font-size: 20px;
    margin-left: 20px;
  }

  #mune {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 53px;
    right: -200px;
    padding: 0;
    list-style: none;
    /* background-color: var(--blcolor); */
    max-width: 300px;
    transform: translateX(410px);
    transition: 500ms ease;    z-index: 200;

  }
  nav a:nth-child(1){
    background-color: rgba(11, 130, 122, 0.922) ;
    width: 100%;
    border-radius: 10px  0px  0px 73px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 400;
  }
  nav a:nth-child(2){
    margin-top: 3px;
    background-color: rgba(0, 137, 168,0.922);
    width: 100%;
    border-radius: 73px  0px  0px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 16px !important;
    z-index: 200;
    color: var(--fcolor);
  }
  #mune.active {
    transform: none;
  }
  .title2 {
    font-size: 26px !important;
    top: 140px !important;
    left: 30px !important;
  }
  form {
    width: 300px !important;
    height: 500px !important;
  }
  .n h1 {
    font-size: 20px;
    margin-bottom: 10px !important;
  }
}

.bk {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

#btn {
  background-color: #089797;
  padding: 10px 28px;
  border-radius: 6px 2px;
  transition: all 0.7s ease-in-out;
}
#btn:hover {
  border-radius: 2px 6px;
  background-color: #026161;
  transform: scale(1.1);
}
.pro {
  background-color: var(--fcolor);
}
section {
  /*راح يطبق علئ اي سكشن بالبدي كله*/
  padding: 70px 200px;
}
.r {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap; /*ينزل الكروت بالرسبومسف*/
}
.ccc{
  height: 100vh;
}
/* @media screen and (min-width: 968px) {
  .r {
    height: 100vh;
  }
} */
/*home page*/
.cont {
  height: 100vh;
  display: grid;
  place-content: center;
}
.h1home {
  font-size: 40px;
}

.popup {
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 16px;
  left: 16px;
  width: 400px;
}
.popup1 {
  display: grid;
  place-content: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #089797;
  height: 50px;
  width: 320px;
  margin: 10px;
  border-radius: 20px 20px;
}

.massage {
  font-size: 20px;
  color: red;
  font-weight: 800;
}
.fex {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fix {
  height: 100vh;
  display: flex;
  justify-content: center;
}
.ffff {
  width: 100vw;
}
.contt {
  position: fixed;
  top: 300px;
  width: 100px;
  height: 40px;
  background-color: var(--thcolor);
  border-radius: 0px 10px 10px 0px;
  display: grid;
  justify-content: right;
  align-items: center;
  padding-right: 8px;
  transform: translateX(-70px);
  transition: all 0.7s ease-in-out;
}
.contt:hover {
  transform: none;
}
.cartimg {
  position: absolute;
  top: 1px;
  transform: rotate(12deg);
  left: 80px;
  height: 50px;
}

.titlecart {
  font-size: 20px;
  padding-right: 13px;
}
.contercart {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -3px;
  right: -14px;
  background-color: rgb(176, 32, 32);
  width: 14px;
  height: 20px;
  z-index: -1;
  border-radius: 34%;
}
.contercart h1 {
  color: aliceblue;
  font-size: 15px;
}

.fot {
  height: 100%;
  width: 100%;
  background-color: var(--scolor);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--thcolor);
}
hr{
  border-top: 2px solid var(--blcolor) !important;
  width: 100px  !important;
  padding: 4px;
}
.fot a{
  background-color: var(--blcolor);
  padding: 6px;
  border-radius: 10px;
  color: var(--scolor) !important;
  display: grid;
  place-items: center;
  transition:   0.7 ease-in-out;

}
.fot a:hover{
  transform: translateY(-10);
  background-color: var(--fcolor);
  color: var(--thcolor) !important;
  transform: translateY(-4px);

}
.fott{
  display: flex;
  justify-content: center;
gap: 5px;}
.eye {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--scolor);
}
.wrapper {
  background-image: url(./pec-hero-banner.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: 100%;
}
@media screen and (min-width: 1040px) {
  .container {
    width: 1040px;
    margin: 0 auto;
  }
}
.wrapper {
  width: 100%;
  padding-left: 1.7rem;
  padding-right: 1.7rem;
  padding-top: 5rem;
  margin-bottom: 5rem;
}
.grid-cols-2 {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
}
.grid-item-1 {
  padding-top: 5rem;
  padding-left: 1.5rem;
}
.main-heading {
  font-weight: 300;
  font-size: 40px;
  line-height: 55px;
}
.main-heading span {
  color: var(--thcolor);
}
.info-text {
  margin-top: 1.5rem;
  font-size: 19px;
  line-height: 28px;
  color: #fff;
}
.btn_wrapper {
  margin-top: 3.5rem;
  display: flex;
  width: 100%;
}
.btn {
  width: 110px;
  height: 50px;
  background-color: var(--blcolor);
  display: block;
  font-size: 16px;
  color: #fff;
  text-transform: capitalize;
  border-radius: 7px;
  letter-spacing: 1px;
  transition: 0.4s;
}
.btn:hover {
  transform: translateY(-3px);
  background-color: var(--blcolor);
}
.view_more_btn {
  width: 180px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  letter-spacing: 0;
  color: #fff;
  font-weight: 500;
  margin-right: 10px;
  box-shadow: 0 0.5rem 1.5rem rgba(22, 28, 45, 0.1);
}
.view_more_btn i {
  margin-left: 0.7rem;
}
.view_more_btn:hover {
  transition: box-shadow 0.25s ease, transform 0.25s ease;
}

.grid-item-2 {
  width: 100%;
  height: 100%;
}

.grid-cols-3 {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 3rem;
  row-gap: 2rem;
  padding: 1rem;
}
.grid-col-item {
  height: 100%;
}
.icon {
  width: 100%;
  line-height: 40px;
}
.icon svg {
  width: 30px;
  height: 30px;
  color: #6b85d8;
}
.featured_info {
  width: 100%;
}
.featured_info span {
  width: 100%;
  display: block;
  font-size: 21px;
  line-height: 33px;
  color: var(--lg-heading);
}
.featured_info p {
  display: block;
  width: 100%;
  margin-top: 7px;
  font-weight: 400;
  color: #334157;
  line-height: 25px;
  font-size: 15.5px;
}

.basket {
  height: 100vh;
}

.bynow {
  margin-top: 14px;
}
.titles {
  font-size: 24px;
  font-weight: 500;
  color: var(--thcolor);
}
.noitem {
  height: 100vh;
  display: flex;
  justify-content: center;
}
.noitem h1 {
  color: wheat;
  font-size: 20px;
}

.borditem {
  display: flex;
  border: solid 1px var(--thcolor);
  padding: 20px;
}
.inputs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  padding-top: 10px;
}
.d {
  gap: 10px;
}
.signup {
  align-items: center;
}

.downselect {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 14px;
}
.downselec {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-direction: column;
}
.inp {
  width: 60px !important;
}
.inputsr {
  width: 70px !important;

}


.searchi {
  margin-left: 100px;
  display: flex;
  justify-content: start !important;
  align-items: center;
  background-color: #17212b;
}
.searcho {
display: flex;
justify-content: center;
align-items: center;
max-width: 100%;
flex-direction: column;
}
.search {
  height: 40vh;
  display: flex;
  align-items: center;

  background-color: var(--scolor);
  gap: 30px;
  width: 100%;
  padding: 70px 160px;
}

.tables {
  width: 100%;
  display: flex;
  margin-left: 30px;
  align-items: center;
}
.titlefindmide{
  font-size: 23px;
  color: var(--blcolor);
  margin-bottom: 30px;
  
}
.inputsss{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4px;
}
.flexinputs{
  display: flex;
  justify-content: center;
  align-items: center;  gap: 10px;

}
.flexxx{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.proo{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 60px 100px;

}
.fleox{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}




/* Styles for devices with a width between 321px and 767px */
@media (min-width: 111px ) and (max-width: 370px) {
section{ 
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
}
.projcard{
  width: 16rem;
}

.radio-button{
  font-size: 14px !important;
}
.titlecard{
  font-size: 14px;
}
hr{
  border-top: 1px solid var(--blcolor) !important;
  width: 80px  !important;
  padding: 4px;
}

.fot a{
  background-color: var(--blcolor);
  padding: 2px;margin: 10px !important;
  border-radius: 10px;
  color: var(--scolor) !important;
  display: grid;
  place-items: center;
  transition:   0.7 ease-in-out;

}
.fot a:hover{
  transform: translateY(-10);
  background-color: var(--fcolor);
  color: var(--thcolor) !important;
  transform: translateY(-4px);

}
.fott{
  display: flex;
  justify-content: center;
gap: 3px;
font-size: 14px;
}
.modal-content{
  width: 290px;
height: 490px; gap: 0;  }
.input33{
  width: 70%;
  height: 40px;
  padding: 0 !important;
}

 
.downselec{
  width: 70%;

}
.inputsr{
  width: 50px !important;
  height: 40px;

}
.sels{
width: 70%;
}
.erwq{
margin-bottom: 4px;
margin-top: 10px;
gap: 14px !important;
}

}
/* outmedit */

@media ( min-width: 370px) and (max-width: 570px) {
  section{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
  }
  .projcard{
    width: 19rem;
  }
  .radio-button{
    font-size: 14px !important;
  }
  .titlecard{
    font-size: 14px;
  }
  hr{
    border-top: 1px solid var(--blcolor) !important;
    width: 80px  !important;
    padding: 4px;
  }
  
  .fot a{
    background-color: var(--blcolor);
    padding: 2px;margin: 10px !important;
    border-radius: 10px;
    color: var(--scolor) !important;
    display: grid;
    place-items: center;
    transition:   0.7 ease-in-out;
  
  }
  .fot a:hover{
    transform: translateY(-10);
    background-color: var(--fcolor);
    color: var(--thcolor) !important;
    transform: translateY(-4px);
  
  }
  .fott{
    display: flex;
    justify-content: center;
  gap: 3px;
  font-size: 16px;
  }
  .modal-content{
    width: 320px;
  height: 490px; gap: 0;  }
  .input33{
    width: 70%;
    height: 40px;
    padding: 0 !important;
  }

   
  .downselec{
    width: 70%;

  }
  .inputsr{
    width: 50px !important;
    height: 40px;

  }
 .sels{
  width: 70%;
 }
 .erwq{
  margin-bottom: 4px;
  margin-top: 10px;
  gap: 14px !important;
 }
 
  }


/* Styles for devices with a width between 321px and 767px */
@media (min-width: 570px) and (max-width: 770px) {
  section{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
  }
  .projcard{
    width: 20rem;
  }
  .radio-button{
    font-size: 14px !important;
  }
  .titlecard{
    font-size: 14px;
  }
  nav{
    margin-right: 60px !important;
  }
  nav a{
    margin-right: 20px !important;
    font-size: 18px;
  }
  .logo {
    font-size: 22px !important;
    margin-left: 27px;
  }
  .modal-content{
    width: 360px;   }
  .input33{
    width: 80%;
    height: 40px;
  }
 
  .downselec{
    width: 80%;
  }
  .inputsr{
    width: 60px !important;
  }
 .sels{
  width: 80%;
 }

    
  
  }

/* Styles for devices with a width between 768px and 1023px */
@media (min-width: 770px) and (max-width: 992px) {
  section{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
  }
  .projcard{
    width: 20rem;
  }
  .radio-button{
    font-size: 14px !important;
  }
  .titlecard{
    font-size: 14px;
  }
  nav{
    margin-right: 80px !important;
    background-color: #089797;
  }
  nav a{
    margin-right: 30px !important;
    font-size: 20px;
  }
  .logo {
    font-size: 28px !important;
    margin-left: 100px;
  }

}
@media (min-width: 992px) and (max-width: 1095px)  {
  section{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    
  }
  .projcard{
    width: 22rem;
  }
  .radio-button{
    font-size: 14px !important;
  }
  .titlecard{
    font-size: 14px;
  }
  nav{
    margin-right: 110px !important;
    background-color: #089797;
  }
  nav a{
    margin-right: 50px !important;
    font-size: 20px;
  }
 
}
/* Styles for devices with a width of 1024px or larger */
@media (min-width: 1095px) and (max-width: 1600px)  {
  section{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
  }
  .projcard{
    width: 22rem;
  }
  .radio-button{
    font-size: 14px !important;
  }
  .titlecard{
    font-size: 14px;
  }
}


.button-5 {
  align-items: center;
  background-clip: padding-box;
  background-color: var(--thcolor);
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: var(--fcolor);
  cursor: pointer;
  display: inline-flex;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.button-5:hover,
.button-5:focus {
  background-color: var(--scolor);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.button-5:hover {
  transform: translateY(-1px);
}

.button-5:active {
  background-color: var(--fcolor); color: #12d0c5;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}
